:root {
    --negro: rgb(26 26 26);
    --amarillo: rgb(255 193 7);
    --negro-2: rgb(0, 0, 0);
    --bg-pasteles: rgb(48 7 0);
    --bg-plomo: rgb(172, 172, 172);
}

.entrada {
    background-image: url(img/inicio.jpg);
    width: 100%;

    opacity: 75%;
    margin: 0 auto;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    text-align: center;

    grid-area: entrada;

}

.nav1 {

    background-color: rgba(71,42,23,1);
    margin-bottom: 2%;
    grid-area: na;
    position: sticky;
    top: 0;
}

.local {
    display: none;
    margin: 0 auto;
    grid-area: local;

    border-top: 2px solid black;
    border-top-right-radius: 250px 100px;
    padding: 2.1%;
}

.principal {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 5% auto auto auto;
    grid-template: 
    "na na na"
    "entrada entrada entrada"
    "cr cr cr";
}
.container {
    grid-area: cr;
}
.productos {
    display: none;
    border-top: 2px solid black;
    border-top-right-radius: 250px 100px;
    padding-top: 2%;
}

.vision {
    display: none;
}
.nosotros {
    display: none;
}

.templateCords {
    margin-top: 7%;
    grid-area: 3 / 1 / 4 / 4 ;
}

.titulo {
    padding-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 240%;
    color: var(--negro-2);
    text-align: center;
}

.nosP, .myv {
    border-bottom: 2px solid black;
    border-bottom-left-radius: 250px 100px;
    margin-bottom: 3%;
    padding: 2%;
    padding-bottom: 1%;
}
.nosP {
    padding-bottom: 3%;
}


.ig {
    grid-area: insta;
    border-right: 2px solid black;
    margin-right: 4%;    
}
.mapa {
    grid-area: map;

}

.local {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template: 
    "insta map";
    margin-bottom: 5%;
}

.ig > .titulo {
    text-align: start;
}

