ul {
  list-style-type: none!important;
  margin: 0;
  padding: 0;
  overflow: hidden!important;
  background-color: rgba(71,42,23,1)!important;
}

li {
  float: left;
}

li a {
  display: block;
  color: white!important;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none!important;
}

li a:hover {
  background-color: rgba(252,176,69,1)!important;
}