
.prod {
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-rows: repeat(16, auto);

    width: 100%;
    margin-top: 1%;
    grid-template: 
        "t1 t1"
        "ii1 pp1"
        "b1 b1"
        "ii2 pp2"
        "b2 b2"
        "ii3 pp3"
        "b3 b3"
        "ii4 pp4"
        "b4 b4"
        "ii5 pp5"
        "b5 b5"
        "ii6 pp6"
        "b6 b6"
        "ii7 pp7"
        "b7 b7"
        "ii8 pp8";
}

.prod > div {
    border: solid 1px black!important;
    width: 80%!important;
    height: .5%!important;
    margin: 3% auto!important;
}
.prod > div > .titulo, .prod > .tit1 {
    margin-top: 2%!important;
    color: burlywood!important;
}
.tit1 {
    grid-area: t1;

}
.brd1 {
    grid-area: b1;
}
.brd2 {
    grid-area: b2;
}
.brd3 {
    grid-area: b3;
}
.brd4 {
    grid-area: b4;
}
.brd5 {
    grid-area: b5;
}
.brd6 {
    grid-area: b6;
}
.brd7 {
    grid-area: b7;
}
.i1 {
    grid-area: ii1;
}

.p1 {
    grid-area: pp1;
}

.i2 {
    grid-area: ii2;
}

.p2 {
    grid-area: pp2;
}

.i3 {
    grid-area: ii3;
}

.p3 {
    grid-area: pp3;
}

.i4 {
    grid-area: ii4;
}

.p4 {
    grid-area: pp4;
}

.i5 {
    grid-area: ii5;
}

.p5 {
    grid-area: pp5;
}

.i6 {
    grid-area: ii6;
}

.p6 {
    grid-area: pp6;
}

.i7 {
    grid-area: ii7;
}

.p7 {
    grid-area: pp7;
}

.i8 {
    grid-area: ii8;
}

.p8 {
    grid-area: pp8;
}

